.component-display {
    background-color: black;
    color: white;
    text-align: right;
    font-weight: 200;
    flex: 0 0 auto;
    width: 100%;
  }
  

.component-display-word {
  background-color: blue;
  color: white;
  padding-left: 10px;
  font-weight: 200;
  width: 100%;
}

.component-display-opt {
  background-color:red;
  color: white;
  padding-left: 10px;
  font-weight: 200;
  width: 100%;
}
  .component-display > div {
    font-size: 2.0rem;
    padding: 0.2rem 0.7rem 0.1rem 0.5rem;
  }
  